{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>{{ task.title }}</title>
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">
</head>

<body>
    <form>
        <h1>{{ task.title }}</h1>
        <p><b>Опис:</b> {{ task.description }}</p>
        <p><b>Статус:</b> {{ task.get_status_display }}</p>
        <p><b>Пріоритет:</b> {{ task.get_priority_display }}</p>
        <p><b>Дата:</b> {{ task.date }}</p>

        <a href="{% url 'task_list' %}">Назад до списку</a>
    </form>
</body>

</html>