{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Вхід</title>
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">
</head>

<body>
    <div>
        <form method="post">
            <h2>Вхід</h2>
            {% csrf_token %} {{ form.as_p }}
            <p class="error">Невірне ім'я користувача або пароль</p>
            <button type="submit">Увійти</button>
            <button onclick="location.href='/'">На головну сторінку</button> {% if form.errors %} {% endif %}
        </form>
    </div>
</body>

</html>