{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">
</head>

<body>

    <div>
        <form method="post">
            <h2>Реєстрація</h2>
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Зареєструватися</button> {% for message in messages %}
            <p class="error">{{ message }}</p>
            {% endfor %}
            <button onclick="location.href='/'">На головну сторінку</button>
        </form>
    </div>
</body>

</html>